<div class="center">
  <p>Here are the Student Details</p>
<div class="row">
    <div class="col-sm-4">
      First name:
    </div>
    <div class="col-sm-4">
      {{student.fname}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
     Last name:
    </div>
    <div class="col-sm-4">
      {{student.lname}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
      Phone :
    </div>
    <div class="col-sm-4">
      {{student.phone}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
      Email:
    </div>
    <div class="col-sm-4">
      {{student.email}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
      Batch:
    </div>
    <div class="col-sm-4">
      {{student.batch}}
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-sm-12 ">
      <a routerLink="/students">Go back to Students</a>
    </div>
    </div>
</div>
